extends layout 

block content 
    div.content
        h1.d-flex.justify-content-between.align-items-center= title 
            a.btn.btn-primary(href="/categories/create") Add Category


        if category_list.length 
            ul 
                each category in category_list 
                    li 
                        a(href=category.url) #{category.name}
        else 
            p There are no categories.